In [41]:
import warnings
warnings.filterwarnings('ignore')

In [42]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
#plt.rcParams['figure.figsize'] = (15.0,7.0)

In [43]:
from sklearn.datasets import load_boston

In [44]:
boston = load_boston()

In [45]:
boston_df = pd.DataFrame(boston.data,columns=boston.feature_names)
print(boston_df.shape)
boston_df.head()

(506, 13)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [46]:
boston_df['target'] = boston.target

In [47]:
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [48]:
boston_df.skew().sort_values()

B         -2.890374
PTRATIO   -0.802325
AGE       -0.598963
INDUS      0.295022
RM         0.403612
TAX        0.669956
NOX        0.729308
LSTAT      0.906460
RAD        1.004815
DIS        1.011781
target     1.108098
ZN         2.225666
CHAS       3.405904
CRIM       5.223149
dtype: float64

In [49]:
boston_df.columns[(boston_df.skew()>1.96) | (boston_df.skew()<-1.96)]

Index(['CRIM', 'ZN', 'CHAS', 'B'], dtype='object')

In [50]:
boston_df[['CRIM', 'ZN', 'CHAS', 'B']].describe(percentiles=[.05,.25,.5,.75,.95,.98,.997])

             CRIM          ZN        CHAS           B
count  506.000000  506.000000  506.000000  506.000000
mean     3.613524   11.363636    0.069170  356.674032
std      8.601545   23.322453    0.253994   91.294864
min      0.006320    0.000000    0.000000    0.320000
5%       0.027910    0.000000    0.000000   84.590000
25%      0.082045    0.000000    0.000000  375.377500
50%      0.256510    0.000000    0.000000  391.440000
75%      3.677083   12.500000    0.000000  396.225000
95%     15.789150   80.000000    1.000000  396.900000
98%     25.021660   85.000000    1.000000  396.900000
99.7%   70.643251   95.000000    1.000000  396.900000
max     88.976200  100.000000    1.000000  396.900000

In [51]:
boston_df[['CRIM', 'ZN', 'CHAS', 'B']].skew()

CRIM    5.223149
ZN      2.225666
CHAS    3.405904
B      -2.890374
dtype: float64

In [52]:
boston_df = boston_df[boston_df['CRIM']<=15.789150]
boston_df[['CRIM', 'ZN', 'CHAS', 'B']].skew()

CRIM    2.001798
ZN      2.138653
CHAS    3.295568
B      -3.188904
dtype: float64

In [53]:
X = boston_df.drop('target',axis=1).values
y = boston_df.target.values

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)