In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import math as m

In [2]:
df = pd.read_csv('Flats Rent.csv')
df

     S. No.  Monthly Rent
0         1         44000
1         2         49800
2         3         45400
3         4         40700
4         5         43900
5         6         46400
6         7         31000
7         8         45000
8         9         37300
9        10         42900
10       11         36600
11       12         43100
12       13         40900
13       14         44800
14       15         34200
15       16         38700
16       17         38900
17       18         32200
18       19         44600
19       20         43800
20       21         42600
21       22         48600
22       23         35100
23       24         38300
24       25         51200
25       26         45500
26       27         52600
27       28         58600
28       29         46900
29       30         43100
..      ...           ...
170     171         48300
171     172         48900
172     173         42000
173     174         40400
174     175         57700
175     176         44300
176     177         46700
177     178         53900
178     179         40100
179     180         40500
180     181         45500
181     182         44400
182     183         42300
183     184         59800
184     185         44600
185     186         58300
186     187         42600
187     188         57200
188     189         58500
189     190         41800
190     191         48100
191     192         50700
192     193         48600
193     194         40800
194     195         44700
195     196         49800
196     197         51900
197     198         55700
198     199         45800
199     200         59500

[200 rows x 2 columns]

In [3]:
np.std(df['Monthly Rent'])

7438.854683350119

In [4]:
df.std()

S. No.            57.879185
Monthly Rent    7457.521851
dtype: float64

In [5]:
df.describe()

           S. No.  Monthly Rent
count  200.000000    200.000000
mean   100.500000  45571.000000
std     57.879185   7457.521851
min      1.000000  30100.000000
25%     50.750000  41250.000000
50%    100.500000  44950.000000
75%    150.250000  49825.000000
max    200.000000  59800.000000

In [6]:
np.mean(df['Monthly Rent'])

45571.0

In [7]:
df['Monthly Rent'].mean()

45571.0

In [8]:
len(df)

200

In [9]:
np.mean(df['Monthly Rent']) + (1.65)*(np.std(df['Monthly Rent'])/(m.sqrt(len(df))))

46438.9106574916

In [10]:
np.mean(df['Monthly Rent']) - (1.65)*(np.std(df['Monthly Rent'])/(m.sqrt(len(df))))

44703.0893425084

In [11]:
np.mean(df['Monthly Rent']) + (1.96)*(np.std(df['Monthly Rent'])/(m.sqrt(len(df))))

46601.972659808205

In [12]:
np.mean(df['Monthly Rent']) - (1.96)*(np.std(df['Monthly Rent'])/(m.sqrt(len(df))))

44540.027340191795

In [24]:
# 34.5 mean
36 + (2.17*4/m.sqrt(49))

37.24

In [25]:
36 - (2.17*4/m.sqrt(49))

34.76

In [20]:
370.16 + (1.65*90/m.sqrt(36))

394.91

In [22]:
370.16 - (1.65*90/m.sqrt(36))

345.41

In [23]:
1-.05

0.95

In [26]:
# govt regulatory body has specified that the max permisiible lead is 2.5ppm.
# let say you ara a analyst working with india, you take 100 samples in the market,
# the mean lead content found is 2.6ppm
# std dev = .6
# sig lev = 3%,
# Ho <= 2.5
# H1 > 2.5

In [31]:
1 - .03

0.97

In [32]:
2.6 - (1.89*.6/m.sqrt(100))

2.4866

In [33]:
2.6 + (1.89*.6/m.sqrt(100))

2.7134

In [38]:
# cadbury states that weight of one of the chocolate = 60g
# found avg = 62.6g 
# with sig level is 2%
# std dev = 10.7g
# Ho = 60
# H1 != 60

In [39]:
62.6 + (2.33*10.7/m.sqrt(100))

65.0931

In [40]:
62.6 - (2.33*10.7/m.sqrt(100))

60.1069

In [45]:
# water purifier states that less than 300ppm on an avg
# water inspector takes sample of 400 purifiers and found mean 296ppm
# std = 25ppm
# sig lev = 3%
# Ho >= 300
# H1 < 300

In [46]:
1-.03

0.97

In [51]:
# rejecting null hypothesis
300 - (1.89*25/m.sqrt(400))

297.6375

In [52]:
300 + (1.89*25/m.sqrt(400))

302.3625

In [54]:
# you are working as a data analyst in an auditing company
# manufacturer claims that avg is 36 months
# 49 units are collected and  calculates 34.5 avg # std = 4 months
# test the manufacturers claim with 3% sig. using p-value method
# Ho = 36
# H1 != 36

In [55]:
# p-value = 2*(.0013)

In [57]:
1-.97

0.030000000000000027

In [58]:
2*(.0013)

0.0026

In [60]:
(1-.9850)*2

0.030000000000000027

In [61]:
# claim by company = 500mg
# if the paracetamal is less than 500mg, drug is ineffective, becomes quality issue
# if its high it becomes regulatory issue
# there are 2 plants that makes 10000 samples in 1 hours
# mean = 510mg
# std = 110
# sig lev = 5%

In [64]:
500 + (1.96*110/m.sqrt(900))

507.18666666666667

In [63]:
500 - (1.96*110/m.sqrt(900))

492.81333333333333

In [83]:
a = list(range(15))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [84]:
np.mean(a)

7.0

In [91]:
stats.ttest_1samp(a,5)

Ttest_1sampResult(statistic=1.7320508075688774, pvalue=0.10522805798352192)

In [142]:
b = list(range(28,13,-1))
#b = a
b

[28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14]

In [143]:
stats.ttest_ind(a,b)

Ttest_indResult(statistic=-8.573214099741124, pvalue=2.5638954336851665e-09)

In [144]:
stats.ttest_rel(a,b)

Ttest_relResult(statistic=-6.062177826491071, pvalue=2.9255669686317922e-05)

In [145]:
stats.f_oneway(a,b)

F_onewayResult(statistic=73.5, pvalue=2.563895433685175e-09)