In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
#plt.rcParams['figure.figsize'] = (15.0,7.0)

In [3]:
gisette_train = pd.read_csv('gisette_train.data',sep=' ')
print(gisette_train.shape)
gisette_train.head()

(5999, 5001)

,550,0,495,0.1,0.2,0.3,0.4,976,0.5,0.6,...,0.3856,0.3857,991.153,991.154,0.3858,0.3859,0.3860,0.3861,983.409,Unnamed: 5000
0,0,0,0,0,0,0,0,976,0,0,...,475,0,991,0,0,991,0,0,0,NaN
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,0,0,742,0,0,0,0,684,0,956,...,0,0,0,0,0,674,0,0,838,NaN
3,0,0,0,0,0,0,0,608,0,979,...,0,0,828,0,0,0,0,0,0,NaN
4,0,0,0,0,0,0,0,0,0,0,...,0,0,983,0,0,0,0,0,0,NaN

In [4]:
gisette_test = pd.read_csv('gisette_test.data',sep=' ')
print(gisette_test.shape)
gisette_test.head()

(6499, 5001)

,983,0,956,0.1,0.2,0.3,0.4,520,0.5,0.6,...,0.4304,0.4305,968.4,0.4306,0.4307,0.4308,0.4309,0.4310,0.4311,Unnamed: 5000
0,0,0,0,0,0,0,0,0,0,695,...,0,0,687,0,0,0,0,0,0,NaN
1,0,0,703,0,0,0,0,0,0,0,...,0,0,758,0,0,983,0,0,0,NaN
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,498,0,0,0,NaN
3,0,0,0,0,0,0,0,980,0,976,...,0,0,0,0,0,0,0,0,0,NaN
4,632,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [5]:
gisette_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5999 entries, 0 to 5998
Columns: 5001 entries, 550 to Unnamed: 5000
dtypes: float64(1), int64(5000)
memory usage: 228.9 MB

In [6]:
gisette_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Columns: 5001 entries, 983 to Unnamed: 5000
dtypes: float64(1), int64(5000)
memory usage: 248.0 MB

In [7]:
gisette_train.columns[gisette_train.isnull().sum()>0]

Index(['Unnamed: 5000'], dtype='object')

In [8]:
gisette_train.drop('Unnamed: 5000',axis=1,inplace=True)
gisette_test.drop('Unnamed: 5000',axis=1,inplace=True)

In [9]:
gisette_train.head(2)

,550,0,495,0.1,0.2,0.3,0.4,976,0.5,0.6,...,0.3855,0.3856,0.3857,991.153,991.154,0.3858,0.3859,0.3860,0.3861,983.409
0,0,0,0,0,0,0,0,976,0,0,...,0,475,0,991,0,0,991,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
gisette_test.head(2)

,983,0,956,0.1,0.2,0.3,0.4,520,0.5,0.6,...,0.4303,0.4304,0.4305,968.4,0.4306,0.4307,0.4308,0.4309,0.4310,0.4311
0,0,0,0,0,0,0,0,0,0,695,...,960,0,0,687,0,0,0,0,0,0
1,0,0,703,0,0,0,0,0,0,0,...,0,0,0,758,0,0,983,0,0,0

In [11]:
print(gisette_train.columns[gisette_train.isnull().sum()>0])
print(gisette_test.columns[gisette_test.isnull().sum()>0])

Index([], dtype='object')
Index([], dtype='object')

In [12]:
print(gisette_train.isnull().sum().sum())
print(gisette_test.isnull().sum().sum())

0
0

In [13]:
print(gisette_train.shape)
print(gisette_test.shape)

(5999, 5000)
(6499, 5000)

In [14]:
gisette_train_labels = pd.read_csv('gisette_train.labels',sep=' ')
print(gisette_train_labels.shape)
gisette_train_labels.head()

(5999, 1)

   1
0 -1
1  1
2  1
3  1
4  1

## Train Data

In [15]:
X_train = gisette_train.values
y_train = gisette_train_labels.values

## Scaling

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [17]:
X_train_scaled = scaler.fit_transform(X_train)

## PCA Analysis

In [18]:
from sklearn.decomposition import PCA
pca = PCA(n_components=100)

In [19]:
X_train_pca = pca.fit_transform(X_train_scaled)

## import classification model

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
lm = LogisticRegression()

In [21]:
lm = lm.fit(X_train_pca,y_train)

In [22]:
y_pred_lm_train = lm.predict(X_train_pca)

In [23]:
print('Accuracy_Score: ',accuracy_score(y_train,y_pred_lm_train))

Accuracy_Score:  0.9786631105184197

## Test Data

In [24]:
gisette_valid = pd.read_csv('gisette_valid.data',sep=' ')
print(gisette_valid.shape)
gisette_valid.head()

(999, 5001)

,688,0,0.1,0.2,0.3,0.4,0.5,952,0.6,870,...,0.4436,0.4437,0.4438,0.4439,0.4440,494,0.4441,769.1,0.4442,Unnamed: 5000
0,778,758,0,0,0,0,0,708,0,991,...,0,0,770,0,0,0,0,0,0,NaN
1,469,0,816,0,0,0,0,0,0,0,...,0,0,467,0,0,0,417,0,0,NaN
2,0,0,0,0,0,571,991,983,0,983,...,0,0,0,0,0,0,0,0,0,NaN
3,0,0,0,0,0,0,0,949,0,991,...,0,0,0,0,0,0,0,976,0,NaN
4,0,0,0,0,0,0,0,0,0,450,...,0,0,0,0,0,800,0,0,0,NaN

In [25]:
gisette_valid.drop('Unnamed: 5000',axis=1,inplace=True)

In [26]:
gisette_valid_labels = pd.read_csv('gisette_valid.labels',sep=' ')
print(gisette_valid_labels.shape)
gisette_valid_labels.head()

(999, 1)

   1
0  1
1 -1
2  1
3  1
4 -1

In [27]:
X_test = gisette_valid.values
y_test = gisette_valid_labels.values

In [28]:
X_test_scaled = scaler.transform(X_test)

In [29]:
X_test_pca = pca.transform(X_test_scaled)

In [30]:
lm = LogisticRegression()
lm = lm.fit(X_train_pca,y_train)
y_pred_lm_test = lm.predict(X_test_pca)

In [31]:
print('Accuracy_Score: ',accuracy_score(y_test,y_pred_lm_test))

Accuracy_Score:  0.974974974974975

## KNN

In [32]:
from sklearn.neighbors import KNeighborsClassifier

In [33]:
knn = KNeighborsClassifier()

In [34]:
# acc_score = []
# for i in range(3,11,2):
#     knn = KNeighborsClassifier(n_neighbors=i)
#     knn.fit(X_train,y_train)
#     y_pred_train = knn.predict(X_train_scaled)
#     acc_score.append(accuracy_score(y_train,y_pred_train))
# acc_score
# print('accuracy score: ',acc_score)
# print('max: ',acc_score.index(max(acc_score)),max(acc_score))
# k = list(range(3,11,2))
# for i in range(len(k)):
#     print(k[i],acc_score[i])
# plt.figure(figsize=(15,5))
# plt.plot(k,acc_score)
# #plt.bar(k,acc_score)
# #sns.distplot(k,acc_score,hist=False)