## Q1.  
###  A)  a [ : , : 3 ]

# -----------------------------------------------------------------------------------------------------------#

## Q2
### Ans = ( 8, 3 )

# -----------------------------------------------------------------------------------------------------------#

## Q3
### Ans = b [ [ 0, 2 ] ] = b [ [ 2, 0 ] ]

# -----------------------------------------------------------------------------------------------------------#

## Q4
### a) ipl18.loc [ 0 : 4, [ 'Team', 'Points' ] ]
### b) ipl18.loc [ 1 : 4, [ 'Team', 'Points' ] ]

# -----------------------------------------------------------------------------------------------------------#

## Q5.
### Ans = D) SRH, CSK, MI

In [1]:
#Q5 Ans: ipl18[(ipl18['NRR']>0) & (ipl18['For']>ipl18['Against'])]

# -----------------------------------------------------------------------------------------------------------#

## Q6
### C) SRH

# -----------------------------------------------------------------------------------------------------------#

## Q7
### Ans = A) 0-10 r=Runs

# -----------------------------------------------------------------------------------------------------------#

## Q8
### Ans = A) 0

# -----------------------------------------------------------------------------------------------------------#

## Q9
### A.)	Some values are 'TDNB' = True
### B.)	Some Values are ‘DNB’ = True
### C.)	Some values contain a "*", such as 8* = True
### D.)	Some values are extremely large and represent an anomaly (may be a data entry issue) = False

# -----------------------------------------------------------------------------------------------------------#

## Q10
### A.)	About 1/4 of the class received a score of 55 or less = True
### B.)	About 3/4 of the class received a score of 78 or less = True
### C.)	About 50% of the class received grades between 55 and 78 = True
### D.)	About 1/30 of the class received a score of 48 or less = False

# -----------------------------------------------------------------------------------------------------------#

## Q11
### A).Weekdays

# -----------------------------------------------------------------------------------------------------------#

## Q12
### A)	There is a significant difference in the spread of the number of shares across weekdays

# -----------------------------------------------------------------------------------------------------------#

## Q13
### A) Technology

# -----------------------------------------------------------------------------------------------------------#

## Q14
### A) 7

# -----------------------------------------------------------------------------------------------------------#

## Q15
### C) 3395

# -----------------------------------------------------------------------------------------------------------#

## Q16
### D) 1400

# -----------------------------------------------------------------------------------------------------------#

## Q17
### B.)	The maximum number of share is 843300

# -----------------------------------------------------------------------------------------------------------#

## Q18
### D.)	The Watch.TV variable doesn’t distinguish the students significantly in terms of Science marks

# -----------------------------------------------------------------------------------------------------------#

## Q19
### A.)	Students whose fathers have a degree and above get better marks on an average

# -----------------------------------------------------------------------------------------------------------#

## Q20
### B.)	Students who play games once a week score high in Reading on an average

# -----------------------------------------------------------------------------------------------------------#

## Q22
### A.	Continuous data
#### Continuous data is described as an unbroken set of observations; that can be measured on a scale. It can take any numeric value, within a finite or infinite range of possible value. it can be subdivided into smaller parts according to the measurement precision.

### B.	Discrete Data
#### Discrete data refers to the type of quantitative data that relies on counts. It contains only finite values, whose subdivision is not possible.

### C.	Ordinal Data
#### Ordinal data is a categorical, statistical data type where the variables have natural, ordered categories and the distances between the categories is not known.

### D.	Nominal Data
#### Nominal data (also known as nominal scale) is a type of data that is used to label variables without providing any quantitative value.

# -----------------------------------------------------------------------------------------------------------#

## Q22
### Type I error is the rejection of a true null hypothesis.
### Type II error is the non-rejection of a false null hypothesis.